__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.github
.venv
.vscode
tests
!*/scripts
.gitattributes
.gitignore
.pre-commit-config.yaml
*.md
devcontainer.json
Dockerfile
docker-compose.dev.yml
!README.md
